.filter {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 3rem;
  align-items: center;
  height: 7.5rem;
  padding: 2.5rem 2rem;
  border-radius: 10px;
  background: rgba(3, 107, 82, 1);
  margin-bottom: 4.2rem;

  input[type=text], select {
    width: 33.2rem;
    height: 4.5rem;
    padding-left: 1.6rem;
    border-radius: 6px;
    font-size: 2rem;
    background: rgba(3, 107, 82, 1);
    border: 1px solid white;
    color: white;
  }

  label {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    gap: 2.5rem;

    h3 {
      color: rgba(255, 255, 255, 1);
    }
  }

  input[type=checkbox]{
    margin-left: 2rem;
  }

  .titleST{
    margin-left: -1.4rem;
  }
}