.rightSide {
  .card {
    width: 33.87rem;
    height: 51.48rem;
    box-shadow: 0 0 0 9.7px white, 0px 0px 20px 3px black;
    border-radius: 9.73px;
    background: #036b52;
    padding: 1.5rem;
    position: relative;

    h3 {
      color: white;
      background: rgba(2, 48, 49, 0.523);
      position: absolute;
      width: calc(100% - 3rem);
      border-radius: 9.73px 9.73px 0px 0px;
      text-align: right;
      height: 3.9rem;
      font-size: 2.8rem;
      padding-right: 1rem;
      padding-left: auto;
      z-index: 2;
    }

    .mainImageCard {
      border-radius: 9.73px 9.73px 0px 0px;
      width: 100%;
      height: 27.05rem;
      object-fit: cover;
      clip-path: polygon(0 0, 100% 0, 100% 86%, 0% 100%);
    }

    .descrip {
      width: 100%;
      // border: red 1px solid;
      margin-top: -1.8rem;
      margin-bottom: 2.5rem;
      padding: 0.3rem;
      text-align: justify;
      font-size: 1.5rem;
      color: white;
      // transform: skew(-7deg) rotate(-6.92deg);
      -webkit-transform: skew(-7deg) rotate(-6.92deg);
      -moz-transform: skew(-7deg) rotate(-6.92deg);
      -o-transform: skew(-7deg) rotate(-6.92deg);
    }

    .superTrunfoImage {
      position: absolute;
      top: 36%;
      right: -5%;
      width: 12rem;
      z-index: 2;
    }

    .infos {
      background: white;
      padding: 1.65rem;
      clip-path: polygon(0 21%, 100% 0, 100% 100%, 0% 100%);
      height: 17.4rem;
      position: absolute;
      width: calc(100% - 3rem);
      bottom: 1.5rem;
      border-radius: 0 0 9.37px 9.37px;
      display: flex;
      justify-content: center;
      align-items: flex-end;

      .raridade {
        position: absolute;
        right: 1.7rem;
        top: 2.8rem;

        span {
          font-weight: 600;
        }
      }

      ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.6rem;

        label {
          width: 100%;
          height: 3rem;
          display: flex;
          align-items: center;
          position: relative;
          background: #f0f2f5;
          border-radius: 9.73px;
          padding: 0.5rem;
          font-weight: 600;
          color: #3d495c;

          li {
            list-style: none;
            background: rgba(2, 48, 49, 1);
            width: 6.67rem;
            height: 100%;
            display: grid;
            place-content: center;
            z-index: 2;
            position: absolute;
            right: 0;
            border-radius: 0 9.73px 9.73px 0;
            color: white;
          }
        }
      }
    }
  }
}
